<div class="container-fluid bgimage">
  <div class="container">
      <div class="row vertical-offset-100">
          <div class="col-md-4 col-md-offset-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Admin Forgot Password</h3>
                  </div>

                  <div class="panel-body">
                      <form name="form" (ngSubmit)="f.form.valid && confirm(f)" #f="ngForm" novalidate>
                          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !PRTL_ADMN_USR_NAM.valid }">
                              <label for="PRTL_ADMN_USR_NAM">User Name</label>
                              <input type="text" class="form-control" name="PRTL_ADMN_USR_NAM" [(ngModel)]="model.PRTL_ADMN_USR_NAM" #PRTL_ADMN_USR_NAM="ngModel" required />
                              <div *ngIf="f.submitted && !PRTL_ADMN_USR_NAM.valid" class="help-block">User Name is required</div>
                          </div>
                          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !PRTL_ADMN_EML_ID.valid }">
                              <label for="PRTL_ADMN_EML_ID">Email ID</label>
                              <input type="email" class="form-control" name="PRTL_ADMN_EML_ID" [(ngModel)]="model.PRTL_ADMN_EML_ID" #PRTL_ADMN_EML_ID="ngModel" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                                  required email />
                              <p *ngIf="f.submitted && PRTL_ADMN_EML_ID.errors?.email && !PRTL_ADMN_EML_ID.errors?.required" class="help-block">Eamil Id Format is not valid</p>
                              <p *ngIf="f.submitted && PRTL_ADMN_EML_ID.errors?.required" class="help-block">Email Id is Required</p>
                          </div>
                          <button class="btn btn-success pull-left" type="submit">Submit</button>
                          <label> </label>
                          <a [routerLink]="['/adminlogin']" class="btn btn-danger pull-middle ">Cancel</a>
                          <br>
                          <br>
                          <a *ngIf="disabled" class="login-link" routerLink="/adminlogin">Click here to LogIn </a>
                         
                      </form>
                  </div>

              </div>
              <alert></alert>
          </div>
      </div>
  </div>
</div>