<div class="page-header navbar-fixed-top">
  <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
      <a class="top" routerLink="/">
          <img src="assets/images/logo-multiboxx.png" alt="MultiBoxx">
      </a>
    </div>
  <!-- <nav class="navbar navbar-default"> --> 
      <!-- <div class="container-fluid"> -->
          <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="navbar-header">                                
       <!-- <div class="row icon"> -->
                <div class="welcome hidden-lg hidden-md hidden-sm">Welcome,
                  <strong> Guest</strong>
                </div> 
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <!-- <span class="icon-bar"></span>                         -->
          </button>
        </div>
         <!-- </div> -->
              <!-- <div class="col-xs-4 paddingmobile hidden-lg hidden-md hidden-sm">
                  <a href="http://www.multiboxx.com/contact-us/" class="btn-outline-primary btn-block"><span class="glyphicon glyphicon-earphone "></span> Contact us</a>
              </div>
              <div class="col-xs-4 paddingmobile hidden-lg hidden-md hidden-sm">
                  <a routerLink="/login" class="btn-outline-primary btn-block"><span class="glyphicon glyphicon-user "></span> Portal User </a>
              </div>
              <div class="col-xs-4 paddingmobile hidden-lg hidden-md hidden-sm">
           Welcome,<strong> Guest</strong>
                   
              </div> -->

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.multiboxx.com/contact-us/" class="btn-outline-primary btn-block"><span class="glyphicon glyphicon-earphone "></span> Contact us</a></li>
            <li><a routerLink="/login" class="btn-outline-primary btn-block"><span class="glyphicon glyphicon-user "></span> Portal User </a></li>
            <li><div class="welcome-text hidden-xs">Welcome,
                <strong> Guest</strong>
              </div></li>
          </ul>
        </div>
      </div>
    <!-- </nav> -->
  <!-- </div> -->
</div>
</div>




<div class="desktopview">
  <div class="navbar navbar-default heading">
    <div class="row head">
      <div class="col-xs-8 col-lg-8 col-sm-8 pull-left">
        <div class="">Container Details</div>
      </div>
      <div class="col-xs-4 col-lg-4">
        <a routerLink="/availability" class="pull-right" style="color:aliceblue">
          <div>Back</div>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid">

    <!-- Container -->
    <div class="main">
      <div class="col-lg-12 col-md-12">
        <!-- <form action="/action_page"> -->
        <div *ngIf="viewshow" class="form-group">
          <!-- <div class="row navbar-default"> -->
          <div *ngIf="container_detail" #d class="product-base">
            <!-- <div class="col-lg-3  col-md-6 col-sm-12" [ngClass]="{'cardbig': selectedSize === true, 'cardsmall': selectedSize === false}">  -->

            <div class="imgblock">
              <div class="row cont">
                <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                  <div class="text-center">
                    <img class="card-img-top" alt="{{container_detail.cntnR_SZ_CD}}" src="{{container_detail.Image}}" onError="this.src='assets/images/1.jpg';">
                  </div>

                </div>

                <!-- <div class="card-block">  -->
                <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6" style="  margin-top: 17px;">
                  <div class="card-text">
                      <div class="row">
                        <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">                     
                          Size
                        </div>
                        <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                          {{container_detail.cntnR_SZ_CD}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">
                          Type
                        </div>
                        <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                          {{ container_detail.cntnR_TYP_CD }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">
                          Grade
                        </div>
                        <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                          {{ container_detail.sL_CNDTN_NAM}}
                        </div>
                      </div>
                      <div class="row">
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">
                        Color code
                      </div>
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                        {{ container_detail.clR_CD_NM}}
                      </div>
                    </div><div class="row">
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">
                        Price
                      </div>
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                        {{ container_detail.sL_PRC_NC }}
                      </div>
                    </div><div class="row">
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">
                        Currency
                      </div>
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                        {{container_detail.crrncY_CD}}
                      </div>
                    </div><div class="row">
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">
                        Depot name
                      </div>
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                        {{container_detail.dpT_NAM}}
                      </div>
                    </div><div class="row">
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">
                        City name
                      </div>
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                        {{container_detail.ctY_NAM}}
                      </div>
                    </div><div class="row">
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">
                        Expected
                      </div>
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                        {{container_detail.expctD_UNTS}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">
                        Availability
                      </div>
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                        {{ container_detail.avL_UNTS }}
                      </div>
                    </div><div class="row">
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">
                        Customer PO
                      </div>
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                        <input type="text" class="form-control" name="country" [(ngModel)]="CSTMR_PO_NO" #Price="ngModel" style="height:90%;" />
                        <!-- <input type='text' [ngModel]="CSTMR_PO_NO"   style="height:90%;"/> -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">
                        Invoice Amount
                      </div>
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                        <span style="font-style:bold;">{{container_detail.sL_PRC_NC*countplus | number : '1.2-2'}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-3 col-md-6 col-md-push-0">
                        Select Quantity
                      </div>
                      <div class="col col-xs-6 col-sm-6 col-sm-push-1 col-lg-5 col-md-6 col-md-push-0">
                        <button (click)="decrement1()" id="minus" type="button">-</button>
                        <input [ngModel]="countplus" type="text" id="inc" style="text-align:center;width:20%;border: 1px solid lightgray;" readonly="readonly">
                        <button (click)="increment1()" id="plus" type="button">+</button>
                      </div>
                    </div>
                    
                    <div class="row foot" style="margin-top: 20px;">
                      <div class="col-xs-6 col-lg-4 col-sm-6 col-sm-push-0 col-md-push-0">
                        <button type="submit" [routerLink]="['/login']" class="btn btn-success btn-md"  style="margin-right:10px;background-color:seagreen;">
                          <span class="glyphicon glyphicon-ok"></span>
                          BUY </button>
                      </div>
                      <div class="col-xs-6 col-lg-4 col-sm-6 col-sm-push-0 col-md-push-0">
                        <button type="submit" [routerLink]="['/login']" class="btn btn-primary btn-md" style="margin-right:10px; " >
                          <span class="glyphicon glyphicon-shopping-cart"></span> ADD TO CART</button>
                      </div>
                      <!-- <span routerLink='/cartDetails'>View Cart</span> -->
                    </div>

                  </div>

                </div>
              </div>
            </div>

          </div>
          <br>
        </div>
        <div class="row">
          <div *ngIf="response" class="loading">
            <img src="assets/images/loading3.gif">
          </div>
        </div>

      </div>
    </div>
  </div>